# XGB cluster 0

In [1]:
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
data = '/kaggle/input/data-frozenlava/Cluster0data.csv'
cl_names=['Sno','CustAccountBalance','TransactionTime','TransactionAmount (INR)','Fraud']
df = pd.read_csv(data,header=0,names=cl_names)
shuffled_df = df.sample(frac=1, random_state=42)  # frac=1 means shuffle all rows
shuffled_df.head()

,Sno,CustAccountBalance,TransactionTime,TransactionAmount (INR),Fraud
346909,552802,590056.69,122843,8440.00,1
406854,485434,38080.91,182427,50.00,1
480201,565339,582.31,155102,1512.75,1
97109,36705,417874.67,92243,256.00,0
26442,268838,9785.76,114608,50.00,0

In [2]:
x= shuffled_df.drop(['Fraud'],axis=1)
x=x.drop("Sno",axis=1)
y = shuffled_df['Fraud']

In [3]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.2)
model_cluster0 = XGBClassifier()
model_cluster0 .fit(x_train, y_train)
y_pred=model_cluster0 .predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.60      0.62      0.61     54201
           1       0.60      0.58      0.59     54013

    accuracy                           0.60    108214
   macro avg       0.60      0.60      0.60    108214
weighted avg       0.60      0.60      0.60    108214

# XGB Cluster1

In [4]:
data = '/kaggle/input/data-frozenlava/Cluster1data.csv'
cl_names=['Sno','CustAccountBalance','TransactionTime','TransactionAmount (INR)','Fraud']
df = pd.read_csv(data,header=0,names=cl_names)
shuffled_df = df.sample(frac=1, random_state=42)  # frac=1 means shuffle all rows
shuffled_df.head()

,Sno,CustAccountBalance,TransactionTime,TransactionAmount (INR),Fraud
145842,156353,0.64,225024,100.0,0
307088,692048,2039.77,122917,20.0,1
95712,127862,10676.30,202425,310.0,0
82669,149641,70153.69,150108,1095.0,0
168221,13149,29693.88,173722,515.0,0

In [5]:
x= shuffled_df.drop(['Fraud'],axis=1)
x=x.drop("Sno",axis=1)
y = shuffled_df['Fraud']

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.2)
model_cluster1 = XGBClassifier()
model_cluster1.fit(x_train, y_train)
y_pred=model_cluster1.predict(x_test) 
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.57      0.59      0.58     36892
           1       0.58      0.55      0.56     37157

    accuracy                           0.57     74049
   macro avg       0.57      0.57      0.57     74049
weighted avg       0.57      0.57      0.57     74049

# XGB Cluster 2

In [7]:
data = '/kaggle/input/data-frozenlava/Cluster2data.csv'
cl_names=['Sno','CustAccountBalance','TransactionTime','TransactionAmount (INR)','Fraud']
df = pd.read_csv(data,header=0,names=cl_names)
shuffled_df = df.sample(frac=1, random_state=42)  # frac=1 means shuffle all rows
shuffled_df.head()

,Sno,CustAccountBalance,TransactionTime,TransactionAmount (INR),Fraud
82885,76865,35943.38,205227,235.00,0
103402,699992,1191872.21,233114,6632.00,1
47005,13310,220956.69,180958,2770.95,0
165894,653273,73991.62,203128,748.70,1
136042,167702,31224.09,220920,100.00,1

In [8]:
x= shuffled_df.drop(['Fraud'],axis=1)
x=x.drop("Sno",axis=1)
y = shuffled_df['Fraud']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.2)
model_cluster2 = XGBClassifier()
model_cluster2.fit(x_train, y_train)
y_pred=model_cluster2.predict(x_test) 
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.66      0.61      0.64     17023
           1       0.64      0.68      0.66     17098

    accuracy                           0.65     34121
   macro avg       0.65      0.65      0.65     34121
weighted avg       0.65      0.65      0.65     34121

# XGB Cluster 3

In [10]:
data = '/kaggle/input/data-frozenlava/Cluster3data.csv'
cl_names=['Sno','CustAccountBalance','TransactionTime','TransactionAmount (INR)','Fraud']
df = pd.read_csv(data,header=0,names=cl_names)
shuffled_df = df.sample(frac=1, random_state=42)  # frac=1 means shuffle all rows
shuffled_df.head()

,Sno,CustAccountBalance,TransactionTime,TransactionAmount (INR),Fraud
100,86,38321149.19,171043,100000.00,0
215,32414,52738.99,152903,1486.66,1
139,664557,127.29,112113,284.00,1
178,579160,300512.75,113355,2296.00,1
15,70,82244629.90,121912,2065.00,0

In [11]:
x= shuffled_df.drop(['Fraud'],axis=1)
x=x.drop("Sno",axis=1)
y = shuffled_df['Fraud']

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.2)
model_cluster3 = XGBClassifier()
model_cluster3.fit(x_train, y_train)
y_pred=model_cluster3.predict(x_test)  
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        25
           1       1.00      1.00      1.00        19

    accuracy                           1.00        44
   macro avg       1.00      1.00      1.00        44
weighted avg       1.00      1.00      1.00        44